
    <div class="container" ng-controller="indexController">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-3 col-sm-push-9">
                    <p style="padding:20px;"></p>
                    <h3 align=center>Our Lipsmacking Culinary Creations</h3>
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                        <div ng-if="!showDish">
                                <h3>{{message}}</h3>
                            </div>
                            <div class="media" ng-if="showDish">
                                     <div class="media-left">
                                         <a href="">
                                             <img ng-src="{{dish.image}}" alt="" class="media-object img-thumbnail">
                                         </a>
                                     </div>
                                     <div class="media-body">
                                         <h2 class="media-heading">
                                             {{dish.name}}
                                             <span class="label label-danger label-xs" ng-show="dish.label"> {{dish.label}} </span>
                                             <span class="badge" > {{dish.price | currency }} </span>    
                                         </h2>
                                         <p>
                                             {{dish.description }}
                                         </p>
                                     </div>
                                 
                </div>
            </div>
    
    
            <div class="row row-content">
                <div class="col-xs-12 col-sm-3">
                    <p style="padding:20px;"></p>
                    <h3 align=center>This Month's Promotions</h3>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div ng-if="!showPromo">
                        <h3>{{ pmessage }}  </h3>     
                    </div>              
                        <ul class="media-list">
                                <li class="media" ng-if="showPromo">
                                     <div class="media-left">
                                         <a href="">
                                             <img ng-src="{{promo.image}}" alt="" class="media-object img-thumbnail">
                                         </a>
                                     </div>
                                     <div class="media-body">
                                         <h2 class="media-heading">
                                             {{promo.name}}
                                             <span class="label label-danger label-xs" ng-show="dish.label"> {{promo.label}} </span>
                                             <span class="badge" > {{promo.price | currency }} </span>    
                                         </h2>
                                         <p>
                                             {{promo.description }}
                                         </p>
                                     </div>
                                </li>
                                </ul>
                </div>
            </div>
    
            <div class="row row-content">
                <div class="col-xs-12 col-sm-3 col-sm-push-9">
                    <p style="padding:20px;"></p>
                    <h3 align=center>Meet our Culinary Specialists</h3>
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                    <div ng-if="!showLead">
                        {{ lmessage }}
                    </div>
                    <ul class="media-list">
                            <li class="media" ng-if="showLead" >
                                 <div class="media-left">
                                     <a href="">
                                         <img ng-src="{{leader.image}}" alt="" class="media-object img-thumbnail">
                                     </a>
                                 </div>
                                 <div class="media-body">
                                     <h2 class="media-heading">
                                         {{leader.name}}<small>{{leader.designation}}</small>
                                     </h2>
                                     <p>
                                         {{leader.description }}
                                     </p>
                                 </div>
                            </li>
     
                        </ul>
                </div>
            </div>
        </div>