

    <div class="container">
        <div class="row row-content" ng-controller="MenuController"> 
            <div class="col-xs-12">
                <button ng-click="toggleButton()" class="btn btn-primary btn-xs pull-right" type="button"> {{ showDetails ? 'hide details' : 'show details' }} </button>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="represantation"
                        ng-class="{active:isSelected(1)}"
                    >
                        <a ng-click="select(1)" 
                        aria-control="all menu"
                         role="tab"> the menu
                        </a>
                    </li>
                    <li role="represantation" ng-class="{active:isSelected(2)}">
                        <a ng-click="select(2)" 
                        aria-control="appetizers"
                         role="tab"> appetizers
                        </a>
                    </li>
                    <li role="represantation" ng-class="{active:isSelected(3)}">
                        <a ng-click="select(3)" 
                         aria-control="mains"
                         role="tab"> mains 
                        </a>
                    </li>
                    <li role="represantation" ng-class="{active:isSelected(4)}">
                        <a ng-click="select(4)"  
                        aria-control="desserts"
                         role="tab"> desserts
                        </a>
                    </li>
                   
                </ul>
               <div class="tab-content">    
                <ul class="media-list tab-pane fade in active" >    
                <li class="media" ng-repeat="dish in dishes | filter: fillText">
                    <div class="media-left media-middle">
                        <a href="">
                            <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="{{dish.name}}">

                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">
                            {{dish.name}}
                             <span class="label label-danger label-xs" ng-show="dish.label"> {{dish.label}} </span>
                             <span class="badge" > {{ dish.price | currency }} </span>                            
                        </h2>
                        <p ng-show="showDetails"> 
                             {{dish.description}}
                        </p>
                        
                    </div>
                </li>
                </ul>
              </div>
            </div>
        </div>
    </div>

